* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Poppins", sans-serif;
}

/* PROJECT-TABLE */
.project-buttons{
  margin-bottom:10px;
  /* text-align:right !important; */
  float:right
}

.dropdown{
  margin-right:10px
}



.project-table{
overflow:auto;
max-height:400px;
min-height:400px;
margin-left:50px
}
.project-table th{
  border-top:2px solid #5DA2D5 !important;
  border-bottom:2px solid #5DA2D5 !important;
}

.project-table td{
  /* border-top:2px solid #5DA2D5 !important; */
  border-bottom:2px solid #b6bfc7 !important;
}

/* LOGIN */
.login-btn{
  height:62px !important
}

.login-text{
  font-size: 20px !important;
}
/* CALENDAR */
.homepage .react-calendar {
  border-radius: 40px !important;
  background: #b1ddff !important;
  border: 0 !important;
}
.react-date-picker__clear-button{
  display:none;
  cursor: not-allowed;
}
/* CLOCK */
.clock-calendar{
  margin-top:30px;
  margin-left:60%
}
.clock{
  margin-bottom:30px;
  margin-left:70px
}

.react-clock{
  width:200px !important;
  height:200px !important;
}
.react-clock__face{
  border: 3px solid white !important;
  background-color:white !important
}

.react-clock__hour-mark__body{
  width:5px !important;
  bottom: 90%!important;
}
.react-clock__hand__body, .react-clock__hour-hand__body{
  width:5px !important;
  /* top:15% !important; */
  /* bottom:40% !important */
}
.react-clock__hour-hand__body{
  top:22% !important;
}
.react-clock__hand__body{
  bottom:40%!important;
}
.react-clock__second-hand__body{
  width:2px !important;
}
.react-clock__second-hand__body:after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: red;
  border-radius: 50%;
  transform: translateX(-50%);
}

.timer p{
  color: #212529 !important
}
.homepage,.viewprogress, .project-page, .leaderboard-page, .timer header{
  margin-top:50px
}
.project-page h1{
  margin-bottom:40px
}
/* icon */
i {
  padding-right: 10px;

}

/* homepage */
.nav-link{
  padding: 10px !important;
}
/* .project */
.viewprogress
{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

/* .login h1{
  background-color: pink;
  margin-top:50px
} */
.timer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size:5rem;
  font-weight: 400;
  text-align: center;

}
h4{
  text-align: center;
  font-size: 2rem;
  font-weight: 400;

}
.break-interval-container, .session-interval-container{
  display: flex;
  align-items: center;
  margin: 0 40px
  
}
/* 
.session-interval-container{
  display: flex;
  align-items: center;

} */

.break-session-container{
  display:flex;
  margin-top:15px
}

.break-interval-text,.session-interval-text, .timer-text{
  font-size: 2rem;
  margin: 10px 20px;
}
.timer-text{
  font-size: 2rem;
  margin: 10px 10px;
}
.session-container{
  border: 3px solid #5DA2D5;
  border-radius: 10px;
  margin-top: 40px;
  text-align: center;  
  height:130px
}

.timer-action{
  margin-top:20px;
  text-align: center;
  display: flex
}
/* .timer button{
  padding: 5px 12px;
  margin: 0 10px;
  height: 25px;
  background-color: #263646;
  border:none;
  outline:none;
  cursor:pointer;
  color:#eee;
} */

button:disabled{
  cursor:not-allowed
}

.timer .login100-form-btn{
  width:100px;
  height:45px
}

.timer-btn{
  width:80px
}

.session-btn{
  margin-right: 10px;
}
