* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Poppins", sans-serif;
 
}
/* PROJECT-TABLE */
.project-buttons{
  margin-bottom:10px;
  /* text-align:right !important; */
  float:right
}

.dropdown{
  margin-right:10px
}



.project-table{
overflow:auto;
max-height:400px;
min-height:400px;
/* margin-left:50px; */
table-layout: fixed;
width: 999px;
}
.project-table th{
  /* border-top:2px solid #e3f2fd !important; */
  border-bottom:2px solid #e3f2fd !important;
  width: 333px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
 .project-table td{
  /* border-top:2px solid #5DA2D5 !important; */
  border-bottom:2px solid #e3f2fd !important;
  overflow-x: hidden;
  width: 333px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
} 

.todo{
  table-layout: fixed;
  width: 999px;
  text-align: left;
}
/* .todo tr{
  border-bottom:2px solid #e3f2fd !important; 
  width: 999px;
} */


.task-table{
  overflow:auto;
  max-height:400px;
  min-height:400px;
  /* margin-left:50px; */
  table-layout: fixed;
  width: 1000px;
}


.task-table th{
  /* border-top:2px solid #e3f2fd !important; */
  border-bottom:2px solid #e3f2fd !important;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.task-table td{
  /* border-top:2px solid #5DA2D5 !important; */
  border-bottom:2px solid #e3f2fd !important;
  overflow-x: hidden;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
} 

.task-tablehome{


  max-height:400px;
  min-height:400px;
  /* margin-left:50px; */
  table-layout: fixed;
  width: 400px;
  padding-left: 50px;
}
.task-tablehome th{
  /* border-top:2px solid #e3f2fd !important; */
  border-bottom:2px solid #e3f2fd !important;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.task-tablehome td{
  /* border-top:2px solid #5DA2D5 !important; */
  border-bottom:2px solid #e3f2fd !important;
  width: 200px;
  overflow-x: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
} 

/* .modal {
  position: absolute;
  top: 10px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
} */

#icon-td{
 width:0px;
}

/* LOGIN */
.login-btn{
  height:62px !important
}

.login-text{
  font-size: 20px !important;
}
/* CALENDAR */
.homepage .react-calendar {
  border-radius: 40px !important;
  background: #e3f2fd !important;
  border: 0 !important;
}
.react-date-picker__clear-button{
  display:none;
  cursor: not-allowed;
}
/* CLOCK */
.clock-calendar{
  margin-top:30px;
  margin-left:40%
}
.clock{
  margin-bottom:30px;
  margin-left:70px
}

.react-clock{
  width:200px !important;
  height:200px !important;
}
.react-clock__face{
  border: 3px solid white !important;
  background-color:white !important
}

.react-clock__hour-mark__body{
  width:5px !important;
  bottom: 90%!important;
}
.react-clock__hand__body, .react-clock__hour-hand__body{
  width:5px !important;
  /* top:15% !important; */
  /* bottom:40% !important */
}
.react-clock__hour-hand__body{
  top:22% !important;
}
.react-clock__hand__body{
  bottom:40%!important;
}
.react-clock__second-hand__body{
  width:2px !important;
}
.react-clock__second-hand__body:after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: red;
  border-radius: 50%;
  transform: translateX(-50%);
}

.timer p{
  color: #212529 !important
}
.homepage,.viewprogress, .project-page, .leaderboard-page, .timer header{
  margin-top:50px
}
.project-page h1{
  margin-bottom:40px
}
/* icon */
i {
  padding-right: 10px;

}

/* homepage */
.nav-link{
  padding: 10px !important;
}
/* .project */
.viewprogress
{
  /* display: flex; */
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

/* .login h1{
  background-color: pink;
  margin-top:50px
} */
.timer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size:5rem;
  font-weight: 400;
  text-align: center;

}
h4{
  text-align: center;
  font-size: 2rem;
  font-weight: 400;

}
.break-interval-container, .session-interval-container{
  display: flex;
  align-items: center;
  margin: 0 40px
  
}
/* 
.session-interval-container{
  display: flex;
  align-items: center;

} */

.break-session-container{
  display:flex;
  margin-top:15px
}

.break-interval-text,.session-interval-text, .timer-text{
  font-size: 2rem;
  margin: 10px 20px;
}
.timer-text{
  font-size: 2rem;
  margin: 10px 10px;
}
.session-container{
  border: 3px solid#e3f2fd;
  border-radius: 10px;
  margin-top: 40px;
  text-align: center;  
  height:130px
}

.timer-action{
  margin-top:20px;
  text-align: center;
  display: flex
}
/* .timer button{
  padding: 5px 12px;
  margin: 0 10px;
  height: 25px;
  background-color: #263646;
  border:none;
  outline:none;
  cursor:pointer;
  color:#eee;
} */

button:disabled{
  cursor:not-allowed
}

.timer .login100-form-btn{
  width:100px;
  height:45px
}

.timer-btn{
  width:80px
}

.session-btn{
  margin-right: 10px;
}


/* PROJECT-TODO */
.project header {
  font-size: 2rem;
}

.project header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project form input,
.project form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
.project form button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
.project form button:hover {
  background: #ff6f47;
  color: white;
}
.project .todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project .todo-list {
  min-width: 30%;
  list-style: none;
}

.project .todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.project .filter-todo {
  padding: 1rem;
}
.project .todo li {
  flex: 1;
}

.project .trash-btn,
.project .complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.project .complete-btn {
  background: rgb(11, 212, 162);
}
.project .todo-item {
  padding: 0rem 0.5rem;
}

.project .fa-trash,
.project .fa-check {
  pointer-events: none;
}

.project .fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.project-page .completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
.project select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.project .select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.project select {
  color: #ff6f47;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.project .select::after {
  content: "\25BC";
  color:white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
